    <footer>
        <div class="terms">
            <div class="terms1">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-pinterest-p"></a>
                <a href="" class="fa fa-instagram"></a>
            </div>
            <div class="terms2">
                <a href="#">Contact</a>
                <a href="#">Terms of Service</a>
                <a href="#">Shipping and Returns</a>
            </div>
        </div>

        <div class="copyright">
            <p>COPYRIGHT &copy; 2024</p>
            <!--<a href="" class="fa fa-angle-double-up"></a>-->
            <p>Designed by: <a href="">AKPET, Kohly M. Obaji</a></p>
        </div>
    </footer>
    
    <script src="js/index.js"></script>
</body>
</html>