<nav>
    <div class="container">
        <div class="nav-brand">
            <span class="main">brand</span><br><span class="sub">people</span>
        </div>
        
        <ul class="nav-menu">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">About</a></li>
            <li class="nav-item"><a href="">Contact</a></li>
        </ul>
    
        <div class="menu">
            <div class="social-links xs-hid">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-pinterest"></i>
                <i class="fa fa-instagram"></i>
            </div>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>