<%- include('partials/header') %>
<%- include('partials/nav') %>
    

    <div class="intro">
        <h1>proudly <i>crafted</i> in Calabar since 2009</h1>
        <p>
            All our products are handmade by local artisans who use ancestral techniques. Thanks to the unique know-how of each craftsman involved in the production chain, each product bears its own story, having benefited from unique and personalized care, from its preparation to its arrival in münich. The Ecuadorian Boutique is also a reference for Ecuadorian leather goods, jewelry and ready-to-wear brands.
        </p>
    </div>

    <div class="trending">
        <div class="card">
            <img src="img/senator1.png" alt="">

            <div class="caption">
                <div class="name">Senator</div>
                <div class="price">#20,000</div>
            </div>
        </div>

        <div class="card">
            <img src="img/fankara1.png" alt="">
        </div>

        <div class="card">
            <img src="img/fsenator1.png" alt="">
        </div>
    </div>

    <%- include('partials/footer') %>