/*h1, h2, h3, h4, h5, h6 {
    /* font-family: "Poppins", sans-serif; 
}*/

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    outline: none;
    border: none;
}

/* JUMBOTRON STYE RULES FOR DESKTOP VIEW */
.intro {
    margin-top: 69px;
    padding: 90px 360px;
    background-color: #f8f8f8;
}

.intro h1 {
    font-size: 63px;
    line-height: 69px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 0 0 30px 0;
}

.intro p {
    font-size: 18px;
    color: #838383;
}

.intro i {
    font-weight: 450;
}

/* SHOP STYLE RULES FOR DESKTOP VIEW */
.mini-store {
    padding: 90px 0;
}

.store {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 1.5px;
}

.feature, .options {
    margin: auto;
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: #f8f8f8;
}

.store img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.opt-img {
    width: 49%;
    margin: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
}

/* TRENDING STYLE RULES FOR DESKTOP VIEW */
.trending {
    padding: 120px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 390px;
    height: 480px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* NEWSLETTER STYLE RULES FOR DESKTOP VIEW */
.gala {
    padding: 150px 0;
    background-color: #f8f8f8;
    display: flex;
    gap: 30px;
}
.gallery {
    display: flex;
    width: 50%;
    gap: 3px;
    justify-content: flex-end;
}

.gallery-img {
    width: 36%;
    border-radius: 3px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    border: #000000 1px solid;
    background-color: #ffffff;
    border-radius: 3px;
    align-content: center;
    text-align: center;
}

.contact h3 {
    padding-bottom: 15px;
}
.contact p {
    padding-top: 9px;
    font-size: 12px;
}

.newsletter {
    display: flex;
    padding: 0 90px;
}

.newsletter input {
    width: 240px;
    height: 45px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #838383;
    padding: 3px 9px;
    font-size: 15px;
}

.newsletter button {
    width: 120px;
    height: 45px;
    background-color: #838383;
    border-radius: 0 3px 3px 0;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter button:hover {
    background-color: #000000;
}

/* FOOTER STYLE RULES FOR DESKTOP VIEW */
.terms {
    height: 315px;
    width: 100%;
    background-color: #000000;
    color: #838383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.terms1 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 24px;
    color: #ffffff;
}

.terms2 {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    font-size: 10.5px;
}
.terms2 a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.copyright {
    width: 100%;
    height: 72px;
    padding: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #838383;
    font-size: 15px;
    font-weight: 600;
}

/*.copyright :nth-child(2) {
    font-size: 24px;
}*/

.copyright a:hover {
    color: #ffffff;
}


/* *** MEDIA QUERY FOR TABLETS */
@media (max-width: 1199px) {
    .intro {
        margin: 75px 0;
        padding: 45px 120px 45px 30px;
    }

    .intro h1 {
        font-size: 60px;
        line-height: 63px;
        margin: 0 0 24px 0;
    }

    .intro p {
        font-size: 15px;
        color: #838383;
    }
}


/* *** MEDIA QUERY FOR MOBILE VIEW */
@media (max-width:767px) {
    /* JUMBOTRON STYLE RULES FOR MOBILE VIEW */
    .intro {
        padding: 60px 30px;
        background-color: #f8f8f8;
    }

    .intro h1 {
        font-size: 36px;
        font-weight: 750;
        line-height: 36px;
        margin: 0 30px 30px 0;
    }

    .intro p {
        font-size: 15px;
        margin: 0 45px 0 0;
        line-height: 24px;
        color: #838383;
    }
    
    .intro i {
        font-weight: 450;
    }
    
    /* SHOP STYLE RULES FOR MOBILE VIEW */
    .mini-store {
        padding: 75px 0;
    }

    .store {
        width: 90%;
        margin: auto;
        display: flex;
        gap: 3px;
        flex-direction: column;
    }
    
    .feature, .options {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        background-color: inherit;
    }
    
    .store img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
    }

    .opt-img {
        width: 49%;
        margin: auto;
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    /* NEWSLETTER STYLE RULES FOR MOBILE VIEW */
    .gala {
        padding: 90px 0;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .gallery {
        display: flex;
        width: 90%;
        margin: auto;
    }

    .gallery-img {
        width: 50%;
        border-radius: 3px;
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    .gallery-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact {
        border: #000000 1px solid;
        border-radius: 3px;
        padding: 45px 0;
        width: 90%;
        margin: auto;
    }

    .contact h3 {
        padding-bottom: 9px;
        font-size: 15px;
    }

    .newsletter {
        display: flex;
        padding: 0;
        width: fit-content;
        margin: auto;
    }

    .newsletter input {
        height: 36px;
        width: 180px;
        font-size: 15px;
    }

    .newsletter button {
        font-size: 12px;
        width: 105px;
        height: 36px;
    }
    
    /* FOOTER STYLE RULES FOR MOBILE VIEW */
    .terms1 {
        gap: 24px;
        font-size: 24px;
    }
    
    .copyright {
        padding: 9px;
        font-size: 12px;
    }

    .xs-hid {
        display: none;
    }
}
